.minimize_btn{
  -webkit-app-region: no-drag;

  height: 100%;

  color: white;
}

.minimize_btn:hover{
  background-color: rgb(95, 95, 95);
}

.minimize_btn:active{
  background-color: rgb(120, 120, 120);
}
