$background_color: rgb(80, 80, 80);

.send_form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.auto_chk {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 19px;
  height: 19px;

  padding: 0px;
  margin: 0px;

  background: url('../../assets/check_radio_sheet.png') -38px top no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked {
  background:url('../../assets/check_radio_sheet.png') -57px top no-repeat;
}

.send_button {
  width: 15%;

  font-size: 2vmin;

  color: white;
  background-color: $background_color;

  cursor: pointer;
}

.cr_btn, .lf_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 8%;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;

  margin: 0px;
}

input[type="checkbox"] {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url('../../assets/check_radio_sheet.png') left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: url('../../assets/check_radio_sheet.png') -19px top no-repeat;
}

.data_type {
  margin-right: 2%;
  width: 16%;
  font-size: 2vmin;

  color: white;
  background-color: $background_color;
}

input.data_input {
  width: 1px;

  flex-grow: 1;

  font-size: 2vmin;

  color: white;
  background-color: $background_color;
}
