.view_port_template {
  display: flex;
  color: white;

  width: 100%;
  height: calc(100% - 2rem);
}

.view_port {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: auto;

  margin: 20px;
}
